# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Env
.env

# Build
dist/
.next/

# Misc / OS / editors
.DS_Store
.vscode/
.idea/

# Coverage and logs
coverage/
logs/
*.log

# Secrets, keys, certs
*.pem
*.key
*.crt
.env*

# Temporary
tmp/
temp/
